<!--
Defaults:
${pose}: 0 0 0 0 0 0
${size}: 1 1 1
-->
<collision name="${collisionName}">
  <pose>${pose}</pose>
  <geometry>
    <box>
      <size>${size}</size>
    </box>
  </geometry>
  <surface>
    <contact>
      <ode>
        <min_depth>0.001</min_depth>
        <max_vel>0</max_vel>
      </ode>
    </contact>
    <friction>
      <ode/>
    </friction>
  </surface>
</collision>