<!-- 
Defaults:
${jointName}: rotor_0_joint
${parentLink}: base_link
${childLink}: rotor_0
${axisXyz}: 0 0 1
-->
<joint name="${jointName}" type="revolute">
  <parent>${parentLink}</parent>
  <child>${childLink}</child>
  <axis>
    <xyz>${axisXyz}</xyz>
    <limit>
      <lower>-1e+16</lower>
      <upper>1e+16</upper>
    </limit>
    <dynamics>
      <spring_reference>0</spring_reference>
      <spring_stiffness>0</spring_stiffness>
    </dynamics>
  </axis>
</joint>